<div class="carboStyle">
  <mat-card>
    <mat-card-content>
    <h2 class="h2">Insira os Carboidratos</h2>

    <section class="section">
      <mat-form-field class="margin">
        <mat-label>Valor em gramas</mat-label>
        <input matInput type="number" [(ngModel)]="valueCarbo">
      </mat-form-field>
    </section>
    
  </mat-card-content>
</mat-card>

<mat-card class="result-card">
  <mat-card-content>
    <h2>Meta Diária (160g)</h2>

    <mat-slider
    class="margin"
    [disabled]="disabled"
    [invert]="invert"
        [max]="160"
        [min]="0"
        [step]="1"
        [thumbLabel]="true"
        [tickInterval]="getSliderTickInterval()"
        [(ngModel)]="valueCarbo"
        [vertical]="vertical">
    </mat-slider>
  </mat-card-content>
</mat-card>
</div>
