.total{
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 4px;
}

.lista{
  font: 500 15px/50px Roboto, "Helvetica Neue", sans-serif;
}